<%- include('common/nav-area') %>
   <!-- content area -->
   <div id="content-area" class="container" style="margin-top: 120px; margin-bottom: 30px;">
	   <div class="row main-row">
		<%- include('common/feed-menu') %>
		<%- include('common/feed-list') %>
		</div>
	</div>
	<!--// content area -->