<%- include('common/nav-area') %>
   <!-- content area -->
   <div id="content-area" class="container" style="margin-top: 120px; margin-bottom: 30px;">
	   <div class="row main-row">
		<%- include('common/feed-menu') %>
		<%- include('common/feed-list') %>
			<div class="col-sm-4">
				<div class="feed-friend-title">떠벌림 친구 목록</div>
				<div class="list-group">
					<a href="#" onclick='javascript:getFriendFeed(0); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">갈릭슈</span>	
					</a>
					<a href="#" onclick='getFriendFeed(1); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">슈크림</span>	
					</a>
					<a href="#" onclick='getFriendFeed(2); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">임창정</span>	
					</a>
					<a href="#" onclick='getFriendFeed(3); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">정발산</span>	
					</a>
					<a href="#" onclick='getFriendFeed(4); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">산기슭</span>	
					</a>
					<a href="#" onclick='getFriendFeed(5); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">슭곰발</span>	
					</a>
					<a href="#" onclick='getFriendFeed(6); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">발냄새</span>	
					</a>
					<a href="#" onclick='getFriendFeed(7); return false;' class="list-group-item list-group-item-action list-group-item-light friend-list-text">
						<img src="image/icon.png" class=".img-thumbnail icon-img">
						<span class="nickname">새가슴</span>	
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--// content area -->