	<%- include('common/feed-header') %>
			<!-- feed list 영역 -->
			<%- include('common/feed-list') %>
			<!-- /feed list 영역 -->
		</div>
	</div>
	<!--// content area -->
	<!--// footer area -->
	<%- include('common/footer') %>