<!--// footer area -->
<div id="footer" class="jumbotron text-center" style="margin-bottom: 0; background-color: white; padding: 20px 0 0 0;">
    <p>© 2020 Hamletshu</p>
</div>
<!--// footer area -->
</body>
</html>