<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>블록체인 기반 SNS 떠벌림</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<script src="js/join.js"></script>
<script src="js/login.js"></script>
<script src="js/common.js"></script>
<style type="text/css">
@import url("css/common.css");
@import url("css/index.css");
@import url("css/feed-main.css");
</style>
</head>
<body>
	<!-- title bar -->
	
	<div id="title-area">
		<div class="jumbotron text-center" style="margin-bottom: 0; background-color: white; padding: 20px 0px 0px 0px;">
			<!-- <img src="./image/logo2.png" width="50px" height="50px"> -->
			<h1 class="display-2 logo-text">Profess Effect</h1>
		</div>
	</div>
	<!--// title bar -->