<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>블록체인 기반 SNS 떠벌림</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="js/login.js"></script>
<style type="text/css">
@import url("css/common.css");
@import url("css/index.css");
</style>
</head>
<body>
	<!-- title bar -->
	<div class="jumbotron text-center" style="margin-bottom: 0; background-color: white; padding: 20px 0 0 0;">
		<!-- <img src="./image/logo2.png" width="50px" height="50px"> -->
		<h1 class="display-2 logo-text">Profess Effect</h1>
	</div>
	<!--// title bar -->

	<!-- navigation bar -->
	<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			</ul>
		</div>
	</nav> -->
	<!--// navigation bar -->

	<!-- content area -->
	<div id="content-area" class="container" style="margin-top: 30px; margin-bottom: 30px;">
		<div class="row main-row" style="text-align: center;">
			<div class="col-sm-12" style="margin: auto;">
				<img src="./image/joinsuccess.jpg" class="img-thumbnail" style="border-radius: 100px">
				<div>님 가입완료 되었습니다.</div>
				<div>이제 떠벌림 세계에서 많은 목표를 달성하시기 바랍니다.</div>
				<input type='button' id='goMain' class='btn btn-primary margin-5' value='메인 페이지로 이동'></input>
			</div>
		</div>
	</div>
	<!--// content area -->
	<!--// footer area -->
	<div class="jumbotron text-center" style="margin-bottom: 0; background-color: white; padding: 20px 0 0 0;">
		<p>© 2020 Hamletshu</p>
	</div>
	<!--// footer area -->
</body>
</html>