<div class="row main-row" style="text-align: center;">
	<div class="col-sm-12" style="margin: auto;">
		<img src="./image/joinsuccess.jpg" class="img-thumbnail" style="border-radius: 100px">
		<div><%=joinName %>님 가입완료 되었습니다.</div>
		<div>이제 떠벌림 세계에서 많은 목표를 달성하시기 바랍니다.</div>
		<input type='button' id='goMain' class='btn btn-primary margin-5' value='메인 페이지로 이동'></input>
	</div>
</div>