<div class="col-sm-8" style="margin: auto;" id="feed-list">
    <div style="width:100%; margin: 0 auto;">
        <div style="text-align: center">
            <span class="btn-group">
              <button type="button" class="btn btn-dark btn-lg">최신순</button>
              <button type="button" class="btn btn-dark btn-lg">인기순</button>
              <!-- <button type="button" class="btn btn-dark btn-lg">랭킹순</button> -->
              <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle btn-lg" data-toggle="dropdown">
                   카테고리순
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">운동</a>
                    <a class="dropdown-item" href="#">자격증</a>
                    <a class="dropdown-item" href="#">시험</a>
                    <a class="dropdown-item" href="#">다이어트</a>
                    <a class="dropdown-item" href="#">금연/금주</a>
                    <a class="dropdown-item" href="#">기타</a>
                </div>
              </div>
            </span>						
        </div>